footer{
    color: white!important;
    position: relative;
    margin-top: 10em;

}
footer .top-footer{
padding: 6em 0em 2em 0em;

}
footer .bottom-footer{
    padding: 2em 0em;

}
footer .getStartedButton {

    font-weight: 700;
    font-size: 0.8em;  
}

footer a{
    color: white!important;
    text-decoration: none;
}
footer .icons{
    text-align: right;
}
footer.bg-dark img.ftr-logo {
    position: absolute;
    left: 50%;
    top: -37px;
    width: 290px;
    transform: translate(-50%);
}

footer.bg-dark:before {
    content: "";
    clip-path: polygon(15% 0, 85% 0, 100% 100%, 0% 100%);
    position: absolute;
    background: #8e21b6;
    top: -37px;
    color: white;
    height: 78px;
    z-index: -9;
    width: 417px;
    left: 50%;
    transform: translate(-50%);
}